@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:20%">
    <h1 class="display-4">Welcome to YUMMY</h1>
    <q>You learn to cook so that you don't have to be a slave to recipes.<br>You get what's in season and you know what to do with it.</q>
</div>
